.small-image {
    height: 100px; /* Adjust the height as needed */
    object-fit: contain; /* Ensures the image scales correctly */
  }

.news-letter-container {

    .form-news-letter {
        display: flex;
        flex-direction: column;
        background: #17223b;
        background: -webkit-linear-gradient(to right, #032264, #17223b);
        background: linear-gradient(to right, #032264, #17223b);
        padding: 20px;
        border-radius: 10px;
        max-width: 1100px;
        margin: 0 auto;
    }

    .title {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: -0.025em;
        color: #fff;
    }

    .description {
        line-height: 1.5rem;
        font-size: 1rem;
        margin-top: 1rem;
        color: rgb(209 213 219);
    }

    .form-news-letter div {
        display: flex;
        max-width: 28rem;
        margin-top: 1rem;
        column-gap: 0.5rem;
    }

    .form-news-letter div input {
        outline: none;
        line-height: 1.5rem;
        font-size: 0.875rem;
        color: rgb(255 255 255);
        padding: 0.5rem 0.875rem;
        background-color: rgb(255 255 255 / 0.05);
        border: 1px solid rgba(253, 253, 253, 0.363);
        border-radius: 0.375rem;
        flex: 1 1 auto;
    }

    .form-news-letter div input::placeholder {
        color: rgb(216, 212, 212);
    }

    .form-news-letter div input:focus {
        border: 1px solid rgb(99 102 241);
    }

    .form-news-letter div button {
        color: #fff;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0.625rem 0.875rem;
        background-color: rgb(99 102 241);
        border-radius: 0.375rem;
        border: none;
        outline: none;
    }
}

.payPal {
    width: 15%;
    height: 42px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffc439;
}

.responsivePayPal {
    height: 36px;
    width: 200px;
    overflow: hidden;
    margin: auto;
    padding-top: 2px;
}

.responsivePayPal img {
    position: relative;
    top: -4px;
    left: -14px;
}

.payPalWhite {
    width: 15%;
    height: 42px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.responsivePayPalWhite {
    height: 36px;
    width: 100px;
    overflow: hidden;
    margin: auto;
    padding-top: 2px;
}

.responsivePayPalWhite img {
    position: relative;
    top: 5px;
}

.paypalButton {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 32px;
        background-color: #006aff;
        border: 1px solid #c0dfff;
        color: white;
        gap: 8px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
    }

    .text {
        font-size: 1.7em;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .svg {
        padding-top: 5px;
        height: 100%;
        width: fit-content;
    }

    .svg svg {
        width: 50px;
        height: 30px;
    }

    .button:hover {
        border: 8px solid #b1d8ff;
        background-color: #1b7aff;
    }

    .button:active {
        border: 5px solid #c0dfff;
    }

    .button:hover .svg svg {
        animation: jello-vertical 0.9s both;
        transform-origin: left;
    }

    @keyframes jello-vertical {
        0% {
            transform: scale3d(1, 1, 1);
        }

        30% {
            transform: scale3d(0.75, 1.25, 1);
        }

        40% {
            transform: scale3d(1.25, 0.75, 1);
        }

        50% {
            transform: scale3d(0.85, 1.15, 1);
        }

        65% {
            transform: scale3d(1.05, 0.95, 1);
        }

        75% {
            transform: scale3d(0.95, 1.05, 1);
        }

        100% {
            transform: scale3d(1, 1, 1);
        }
    }

}