@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
  }

  /* Slide-up animation */
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-slide-up {
    animation: slideUp 1.5s ease-in-out forwards;
  }
}


:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg]
}

.rotate-90 {
  @apply rotate-[90deg]
}

.rotate-135 {
  @apply rotate-[135deg]
}

.rotate-180 {
  @apply rotate-[180deg]
}

.rotate-225 {
  @apply rotate-[225deg]
}

.rotate-270 {
  @apply rotate-[270deg]
}

.rotate-315 {
  @apply rotate-[315deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-45 {
  @apply rotate-[-45deg]
}

.-rotate-90 {
  @apply rotate-[-90deg]
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply rotate-[-180deg]
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.animatingwobble {
  /* animation: wobble 1s ease infinite; */
}

@keyframes wobble {

  0%,
  100% {
    /* -webkit-transform: translateX(0%);
      transform: translateX(0%); */
    -webkit-transform-origin: 50% 50%;
    transform: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-32px) rotate(-10deg);
    transform: translateX(-32px) rotate(-10deg);
  }

  30% {
    -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
    transform: translateX(calc(32px / 2)) rotate(10deg);
  }

  45% {
    -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
  }

  60% {
    -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
    transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
  }

  75% {
    -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
  }
}

.backgroundImageGif {
  width: 100vw;
  position: absolute;
  top: 0;
  min-height: 700px;
}

.logo-style-1 {
  font-family: "Sora", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
  /* font-weight: bold; */
}

.rcb-chat-tooltip {
  z-index: 998 !important;
}

.logo-style-2 {
  font-family: "Sora", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 3px;
}


.rcb-toggle-button {
  width: 60px !important;
  height: 60px !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 99999 !important;
  background: #01043683
}

.animate-rotation {
  animation: rotate-around 10s infinite;
  position: absolute;
  height: 100%;
  width: 100%;
}

.animate-rotation-opposite {
  animation: rotate-around-opposite 10s infinite;
  position: absolute;
  height: 100%;
  width: 100%;
}

.animate-rotation:hover {
  animation-play-state: paused;

}

.animate-rotation-opposite:hover {
  animation-play-state: paused;
}

@keyframes rotate-around {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-around-opposite {
  100% {
    transform: rotate(-360deg);
  }
}

.popupInfo {
  position: absolute;
  background: white;
  z-index: 9999 !important;
  color: black;
  padding: 8px;
  border-radius: 8px;
  /* transform: translate(-50%, -50%); */
  /* transform: translateX(-50%); */
  /* transform: translateY(-50%); */

}

.discover-button {
  cursor: pointer !important;
  z-index: 999 !important;
}

.discover-button:hover {
  transform: scale(1.1);
}

.text-span-discover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  text-decoration: none !important;
  border: none !important;
  cursor: pointer !important;
}

.loader-container {
  overflow: hidden !important;
  overflow: none !important;
}

.rcb-chat-tooltip,
.rcb-tooltip-show {
  background: rgba(32, 32, 32, 0.5) !important;
  backdrop-filter: blur(20px);
}

.rcb-chat-tooltip span {
  font-size: 15px !important;
}

.rcb-chat-tooltip-tail {
  color: rgba(32, 32, 32, 0.411) !important;
  border-color: transparent transparent transparent rgba(32, 32, 32, 0.5) !important;
}